<% include ../partials/adminheader %>
  <div class="view">
    <div class="viewHeader">
      <div class="title">Student List</div>
      <div class="functions">
        <!-- <button type="button" class="btn btn-success" data-toggle="modal" data-target="#disorder"><span class="glyphicon glyphicon-plus"></span>Add Disorder</button> -->
      </div>
    </div>
    <div class="content">
      <div class="list">
        <div class="title">Most Affected:</div>
        <ul>
          <% tests.forEach(function(test) { %>
            <li>
              <span>
                <b><%= test.name %></b>
                <% var scores = test.scores %>
                <% var key %>
                <% for (key in scores) { %>
                  <% if (scores.hasOwnProperty(key)) { %>
                  <b><%= key %> :</b> <%= scores[key] %>
                  <br>
                  <% } %>
                <% } %>
                <u> Taken on <%= test.takenAt.toDateString() %></u>
              </span>
                <div class="info">
                <a href="mailto://<%= test.takenBy.email %>" class="btn btn-warning"><span class="glyphicon glyphicon-envelope"></span></a>
                <form action ="/dashboard/list/<%= test._id %>?_method=DELETE" method="POST" class="delete-form">
                  <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>
                  </button>
                </form>
              </div>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>
<% include ../partials/adminFooter %>