<% include ../partials/materialheader.ejs %>  
  <!-- <div>
    <% if(error && error.length > 0) { %>
      <div class="modal fade" tabindex="-1" role="dialog" id="flashmodal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
              <p><%= error %></p>
            </div>
          </div>
        </div>
      </div>
    <% } %>
     
    <% if(success && success.length > 0) { %>
      <div class="modal fade" tabindex="-1" role="dialog" id="flashmodal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Success</h4>
            </div>
            <div class="modal-body">
              <p><%= success %></p>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  </div>
 -->
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text text-lighten-2">Articles</h1>
        <div class="row center">
          <h5 class="header col s12 light">Learn more</h5>
        </div>
        <div class="row center">
          <!-- href="/memoirs/new" -->
          <a href="/disorders/new" id="download-button" class="btn-large waves-effect waves-light amber lighten-1">Add Your Own</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="https://cdn.pixabay.com/photo/2016/01/09/18/28/old-1130743_1280.jpg" alt="Unspbackground img 1"></div>
  </div>

  
  <div class="container-fluid">
  <div class="row">
    <% disorders.forEach(function(disorder) { %>
      <div class="col l3 m3 s6">
        <div class="card medium">
          <div class="card-image">
          <a href="/disorders/<%= disorder.id %>"><img src="<%= disorder.image %>" class="responsive-img"></a>
          </div>
          <div class="card-content">
          <span class="card-title"><%= disorder.name%></span>
          <p><%= disorder.description %>
          </p>
          </div>
        </div>  
      </div>
    <% }); %>
  </div>
  </div>
  

  
<% include ../partials/materialfooter %>



