<% include ../partials/header %>

<div class="container">
	<ul class="nav nav-pills">
	  <li role="presentation" class="active"><a href="#">Depression</a></li>
	  <li role="presentation"><a href="#">Anxiety</a></li>
	  <li role="presentation"><a href="#">Stress</a></li>
	</ul>
	<hr>
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<%= disorder.name %>
					<a class="btn btn-warning" href="/disorders/<%= disorder._id %>/edit"><span class="glyphicon glyphicon-pencil"></a>
	        <form action="/disorders/<%= disorder._id %>?_method=DELETE" method="POST" class="delete-form">
	          <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></button>
	        </form>
				</div>
				<div class="panel-body">
					<img class="img-responsive" src="<%= disorder.image %>">
		      <div class="caption-full">
		      	<b>Info:</b>
		        <p><%= disorder.description %></p>
		        <a href="/disorders/<%= disorder._id %>/posts/new" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add a Post</a>
		        <% //if(currentUser && disorder.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
		        <% //} %>
		      </div>
				</div>
	    </div>
		</div>
		<div class="col-sm-6">
			<div class="row" style="display: flex; flex-wrap: wrap;">
				<% if (disorder.posts.length === 0) { %>
					<div class="alert alert-danger" role="alert">Oops! Looks like there are no posts yet!</div>
				<% } %>
				<% disorder.posts.forEach(function(post) { %>
				  <div class="col-xs-6">
				    <a href="/disorders/<%= disorder._id %>/posts/<%= post._id %>" class="thumbnail posts">
				      <%= post.symptom %>
				    </a>
				  </div>
				 <% }); %>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>