<% include ../partials/header %>

<div class="row">
    <h1 style="text-align: center">Edit <%= memoir.name %></h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/memoirs/<%= memoir._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="memoir[name]" value="<%= memoir.name %>">
            </div>
            <!-- <div class="form-group">
                <input class="form-control" type="text" name="memoir[image]" value="<%= memoir.image %>">
            </div> -->
            <div class="form-group">
                <input class="form-control" type="text" name="memoir[description]" value="<%= memoir.description %>">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Update!</button>
            </div>
        </form>
        <a href="/memoirs">Go Back</a>
    </div>
</div>

<% include ../partials/footer %>