<% include ../partials/materialheader.ejs %>  
  <!-- <div>
    <% if(error && error.length > 0) { %>
      <div class="modal fade" tabindex="-1" role="dialog" id="flashmodal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
              <p><%= error %></p>
            </div>
          </div>
        </div>
      </div>
    <% } %>
     
    <% if(success && success.length > 0) { %>
      <div class="modal fade" tabindex="-1" role="dialog" id="flashmodal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Success</h4>
            </div>
            <div class="modal-body">
              <p><%= success %></p>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  </div>
 -->
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Memoirs</h1>
        <div class="row center">
          <h5 class="header col s12 light">Learn from experiences</h5>
        </div>
        <div class="row center">
          <!-- href="/memoirs/new" -->
          <a href="/memoirs/new" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Add Your Own</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="background1.jpg" alt="Unspbackground img 1"></div>
  </div>

  <div class="container">
		<div class="row">
      <% memoirs.forEach(function(memoir) { %>
      <div class="col s4">
        <div class="card panel small">
          <div class="card-content">
            <!-- /memoirs/<%= memoir._id %> -->
            <span class="card-title"><a href="#"><%= memoir.name %></a></span>
            <p><%= memoir.description.substr(0,150) %></p>
          </div>
          <div class="card-action">
            <p>Posted by <%= memoir.author.username %> <%= moment(memoir.createdAt).fromNow() %></p>
          </div>
        </div>
      </div>
			<% }); %>
		</div>
  </div>
<% include ../partials/materialfooter %>